In [77]:
import networkx as nx
import pandas as pd

In [78]:
df = pd.read_csv("116thCongress.csv")

In [79]:
df.head()

,name,twitter_handle,twitter_handle_2,twitter_handle_3,state,party,score,congress_group,density
0,Susan Collins,SenatorCollins,NaN,NaN,ME,R,4.58409,Senate,*ZEV FILL IN*
1,Lisa Murkowski,lisamurkowski,LisaForSenate,NaN,AK,R,3.17341,Senate,*ZEV FILL IN*
2,Rob Portman,senrobportman,robportman,NaN,OH,R,2.81887,Senate,*ZEV FILL IN*
3,Cory Gardner,SenCoryGardner,CoryGardner,NaN,CO,R,2.65591,Senate,*ZEV FILL IN*
4,Kyrsten Sinema,kyrstensinema,SenatorSinema,NaN,AZ,D,2.42747,Senate,*ZEV FILL IN*

In [80]:
G = nx.read_gml("following_graph.gml")

In [81]:
twitter_handle_1 = list(df['twitter_handle'])
twitter_handle_2 = list(df['twitter_handle_2'])
twitter_handle_3 = list(df['twitter_handle_3'])

In [82]:
unmergable = []
for node in G.nodes():
    if node not in twitter_handle_1:
        if node not in twitter_handle_2:
            if node not in twitter_handle_3:
                unmergable.append(node)

In [83]:
print(unmergable)

['SpeakerPelosi', 'TeamPelosi', 'SenSchumer', 'RepKayGranger', 'GOPLeader', 'chuckschumer', 'kevinomccarthy', 'McConnellPress', 'RepWalterJones', 'senatemajldr']

In [5]:
deg = nx.degree_centrality(G)
cc = nx.closeness_centrality(G)
bet = nx.betweenness_centrality(G)

In [12]:
nx.set_node_attributes(G, deg, "degree")
nx.set_node_attributes(G, bet, "betweenness")
nx.set_node_attributes(G, cc, "closeness")

In [6]:
df = pd.DataFrame.from_dict({
    'node': list(deg.keys()),
    'degree': list(deg.values()),
    'closeness': list(cc.values()),
    'betweenness': list(bet.values())    
})
df.head()

            node    degree  closeness  betweenness
0  RepDevinNunes  0.051337   0.416794     0.000001
1    MikeKellyPA  0.188235   0.483621     0.002536
2   AngieCraigMN  0.057754   0.432142     0.000051
3  RepAdamSchiff  0.366845   0.516550     0.003105
4  BernieSanders  0.131551   0.455190     0.000493

In [7]:
df.sort_values('degree', ascending=False)

                node    degree  closeness  betweenness
478  CongressmanRaja  0.778610   0.489611     0.009294
301   RepChrisPappas  0.719786   0.497393     0.007075
463      RepBrownley  0.689840   0.486125     0.004663
103       RepRonKind  0.673797   0.479300     0.004496
96      RepSchneider  0.600000   0.498052     0.003292
..               ...       ...        ...          ...
870  BradSherman4SFV  0.004278   0.344242     0.000000
816    MacThornberry  0.003209   0.318737     0.000000
926  BuckForColorado  0.002139   0.299347     0.000000
927      petekingcpg  0.002139   0.293283     0.000000
919    LangevinForRI  0.002139   0.319820     0.000000

[936 rows x 4 columns]

In [8]:
df.sort_values('closeness', ascending=False)

               node    degree  closeness  betweenness
8     SpeakerPelosi  0.481283   0.551037     0.006640
278       GOPLeader  0.362567   0.531914     0.005448
146    SteveScalise  0.287701   0.518690     0.000999
3     RepAdamSchiff  0.366845   0.516550     0.003105
91      LeaderHoyer  0.394652   0.516195     0.003089
..              ...       ...        ...          ...
900   HurdOnTheHill  0.063102   0.000000     0.000000
901     val_demings  0.205348   0.000000     0.000000
903    JasonCrowCO6  0.058824   0.000000     0.000000
904   GilCisnerosCA  0.016043   0.000000     0.000000
935  CatherineForNV  0.131551   0.000000     0.000000

[936 rows x 4 columns]

In [9]:
df.sort_values('betweenness', ascending=False)

                node    degree  closeness  betweenness
32     RepRaulRuizMD  0.375401   0.479913     0.011347
247              AOC  0.600000   0.506790     0.010972
427     USRepKeating  0.308021   0.471181     0.010232
478  CongressmanRaja  0.778610   0.489611     0.009294
798   McConnellPress  0.193583   0.447594     0.008171
..               ...       ...        ...          ...
303   RepColinAllred  0.209626   0.492063     0.000000
298      RepHoulahan  0.200000   0.491100     0.000000
842    RepKendraHorn  0.075936   0.000000     0.000000
288   RepKatiePorter  0.174332   0.479527     0.000000
935   CatherineForNV  0.131551   0.000000     0.000000

[936 rows x 4 columns]

In [18]:
df['node']

0       RepDevinNunes
1         MikeKellyPA
2        AngieCraigMN
3       RepAdamSchiff
4       BernieSanders
            ...
931        PatRoberts
932      Perduesenate
933     braun4indiana
934      SenMcSallyAZ
935    CatherineForNV
Name: node, Length: 936, dtype: object

In [10]:
#G.remove_edges_from(nx.selfloop_edges(G))

In [11]:
#smaller = nx.k_core(G,10)